In [ ]:
count=0
for i in range(1000,5000):
    if(pow(i,1/2)==int(pow(i,1/2)) or pow(i,1/3)==int(pow(i,1/3))):
        count=count+1
count

In [ ]:
class Chair:
    #class variable
    legs=4
    hand_rest=2
    back_rest=1
    length="3 feet"

In [ ]:
c=Chair()
print("legs",c.legs)
print("length",c.length)
print("hand rest",c.hand_rest)
print("back rest",c.back_rest)

In [ ]:
d=Chair()

In [ ]:
class Car:
    company="Audi"
    wheels=4
    door=4
    engine="1.3 lr"
    color="Blue"

In [ ]:
d=Car()
d.color="Black"
d.color

In [ ]:
#instances
class Car:
    company="Audi"
    wheels=4
    door=4
    engine="1.3 lr"
    color="Blue"

    def show_details(self):
        print("company",self.company)
        print("wheels",self.wheels)
        print("door",self.door)
        print("engine",self.engine)
        print("colour",self.color)

In [ ]:
c=Car()

In [ ]:
c.show_details()

In [ ]:
class student:
    maths=100
    science=100
    english=99
    def max(self):
        l=[self.maths,self.science,self.english]
        l.sort()
        print(f"max= {l[-1]}")
    def min(self):
        l=[self.maths,self.science,self.english]
        l.sort()
        print(f"min= {l[0]}")
c=student()
c.min()

write  a program to perform searching activity using linear and binary search

In [ ]:
f=[1,2,3,4,5,6]
target=5
count=0
for i in f:
    if target==i:
        count+=1
        # print("yes")
if(count>0):
    print("yes")
else:
    print("No")

In [ ]:
def binary(x,target):
    left=0
    right=len(x)-1
    while left<=right:
        mid=(left+right)//2
        if x[mid]==target:
            return mid
        elif x[mid]<target:
            left=mid+1
        else:
            right=mid-1
    return-1
f=[1,2,3,4,5,6]
binary(f,2)

Write a program to reverse each Kth row in matrix

In [ ]:
m=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12]
]
def reverse_row(m,k):
    m[k-1]=m[k-1][::-1]
    return m
reverse_row(m,1)

create a class college:
add instance name it "details" like: no. of class, location, no. of teachers
add instance name it return no of classes
add instance name it return no of teacher
add instance name it return location of college

In [ ]:
class College:
    def deatils(self,Class,teachers,location):
        self.Class=Class
        self.teachers=teachers
        self.location=location
    def classes(self):
        print("Number of classes :",self.Class)
    def teacher(self):
        print("Number of teacher :",self.teacher)
    def location(self):
        print("Number of location :",self.location)

In [ ]:
college1=College()
college1.deatils(100,120,"Jammu")

In [ ]:
college1.classes()

In [ ]:
class Student:
    def details(self,math,english,science):
        self.math=math
        self.english=english
        self.science=science
    def min_score(self):
        return min([self.science,self.english,self.math])
    def max_score(self):
        return max([self.science,self.english,self.math])
    def avg_score(self):
        return sum([self.science,self.english,self.math])/3

In [ ]:
s1=Student()

In [ ]:
s1.details(99,99,98)

In [ ]:
s1.min_score()

In [ ]:
s1.avg_score()

In [ ]:
s1.max_score()

In [ ]:
class College:
    def details(self,area,building,room,teacher,student,staff):
        self.area=area
        self.building=building
        self.room=room
        self.teacher=teacher       
        self.student=student       
        self.staff=staff       
    def clg_info(self):
        print("area",self.area)
        print("Building",self.building)
        print("Room",self.room)
    def human_info(self):
        return self.teacher+self.student+self.staff

In [ ]:
c=College()

In [ ]:
c.details("20 acr",5,120,100,5000,50)

In [ ]:
c.clg_info()

BANKING SYSTEM

In [ ]:
class Bank:
    balance=20000
    def credit(self,amount):
        self.amount=amount
        if(amount>0):
            self.balance+=self.amount
            print(f"{self.amount} has been credited in your account")
            print(f"{self.balance} is your current balance")
        else:
            print("Enter valid amount!")
    def debit(self,amount):
        self.amount=amount
        if(amount>0 and self.balance>amount):
            self.balance-=self.amount
            print(f"{self.amount} has been debited from your account")
            print(f"{self.balance} is your current balance")
        else:
            print("Please enter valid amount and within your current balance")

In [ ]:
a1=Bank()

In [ ]:
a1.credit(100000)

In [ ]:
a1.debit(1000)

In [ ]:
a1.balance

Create a class Student where add 5 methods (Year 1, Year 2, Year 3, Year4, Total)

In [ ]:
class Student:
    y1=0
    y2=0
    y3=0
    y4=0
    def year1(self,yr1):
        self.yr1=yr1
        self.y1=1
    def year2(self,yr2):
        self.yr2=yr2
        self.y2=1
    def year3(self,yr3):
        self.yr3=yr3
        self.y3=1
    def year4(self,yr4):
        self.yr4=yr4
        self.y4=1
    def total(self):
        if(self.y1==1 and self.y2==1 and self.y3==1 and self.y4==1):
            print(f"CGPA : {(self.yr1+self.yr2+self.yr3+self.yr4)/4}")
        if(self.y1==1 and self.y2==1 and self.y3==1 and self.y4==0):
            print(f"CGPA : {(self.yr1+self.yr2+self.yr3)/3}")
        if(self.y1==1 and self.y2==1 and self.y3==0 and self.y4==0):
            print(f"CGPA : {(self.yr1+self.yr2)/2}")
        if(self.y1==1 and self.y2==0 and self.y3==0 and self.y4==0):
            print(f"CGPA : {(self.yr1)}")

In [ ]:
s1=Student()

In [ ]:
s1.year1(9.2)

In [ ]:
s1.year2(9.4)

In [ ]:
s1.year3(9.6)

In [ ]:
s1.year4(9.9)

In [ ]:
s1.total()

In [ ]:
s2=Student()

In [ ]:
s2.year1(9.5)

In [ ]:
s2.total()

CONSTRUCTOR

In [ ]:
class A:
    def __init__(self):
        print("This is class A")

In [ ]:
class B(A):
    def __init__(self):
        super().__init__()
        print("This is class B")

In [ ]:
b=B()

In [ ]:
class B:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def info(self):
        return self.a,self.b

In [ ]:
class C(B):
    def __init__(self,a,b,c,d):
        self.a=a
        self.b=b
        self.c=C
        self.d=d
    def innn(self):
        return (self.c*self.d)

In [ ]:
c=C(1,2,3,4)

In [ ]:
c.info()

In [ ]:
c.innn()

7.CREATE A DATABASE USING LIST AND TUPLES

In [ ]:
data=[
    (1,"Aryan Angral",20,"CSE"),
    (2,"Suryansh Jasrotia",20,"CSE")
]

In [ ]:
data

In [ ]:
def display_data(database):
    print("ID  | Name                 | Age | Stream")
    print("-----------------------------------------")
    for i in database:
        print(f"{i[0]:<3} | {i[1]:<20} | {i[2]:<3} | {i[3]}")

In [ ]:
display_data(data)

In [ ]:
def add_data(data,id,name,age,subject):
    data.append((id,name,age,subject))

In [ ]:
add_data(data,3,"Dhruv",22,"CSE")

In [ ]:
display_data(data)

In [ ]:
def remove_data(data,index=0):
    data.pop(index-1)

In [ ]:
remove_data(data)

FILE HANDLING

In [ ]:
with open("A3","w") as file:
    file.write("Hi")

In [ ]:
with open("A3","r") as file:
    a=file.read()

In [ ]:
a

In [ ]:
with open("new_A3","w") as file :
    file.write("1. This is the file handling in python\n")

In [ ]:
with open("new_A3","r") as file:
    print(file.read())

In [ ]:
with open("new_A3","a") as file :
    file.write("2. We are using mode a so that we can add more lines in the file\n")
    file.write("3. Do not forgwt to add a line seprator at the end of teh line\n")

In [ ]:
with open("new_A3","r") as file :
    print(file.readline())
    print(file.readline())
    print(file.readline())

In [ ]:
with open("new_A3","r") as file :
    print(file.readlines()[2])

In [ ]:
with open("new_A3","r") as file :
    f=file.readlines()
    print(f[0])
    print(f[2])

In [ ]:
with open("new_A3","a") as file :
    file.write("4. adding new lines in the file for more activity\n5. i can add more line in same code")

In [ ]:
with open("new_A3","r") as file:
    f=file.readlines()
    for i in f:
        print(i[0:4])

In [ ]:
with open("new_A3","r") as file:
    f=file.readlines()
    for i in f:
        x=i.split()
        for j in range(0,4):
            print(x[j]," ",end="")
        print()

In [ ]:
with open("new_A3","r") as file:
    f=file.readlines()
    for i in f:
        x=i.split()
        for j in x:
            if (j[0]=='t' or j[0]=='a'):
                print(j," ",end="")
        print()

1. Update any line 
2. Delete any line
3. Update any word
4. delete any word
4. replace any word

In [ ]:

with open("test","w") as file:
    w=file.write("1. Hi my name is Aryan Angral")

In [ ]:
with open("test","r") as file:
    f=file.readlines()
    f[0]=f[0]+"in the python"
    print(f[0])

In [ ]:
with open("test","r") as file:
    f=file.readlines()
    f[0]=f[0].replace("Angral","Angral. And i am a enginner")
    print(f[0])

In [ ]:
with open("test","r") as file:
    f= file.readlines()
    f[0]=f[0].replace("Angral","Angral. Whats up!")
with open("test","w") as file:
    for i in f:
        file.write(i)

Convert 1st line into uppercase

In [ ]:
with open("test","r") as file:
    f=file.read()
    print(f)

In [ ]:
with open("test","r") as file:
    f=file.readlines()
    x=f[0]
    x=x[:3]+x[3].upper()+x[4:]
    f[0]=x
with open("test","w") as file:
    for i in f:
        file.write(i)

remove all line number from the file

In [ ]:
with open("test","r") as file:
    f=file.readlines()
    x=f[0]
    x=x[3]+x[4:]
    f[0]=x
with open("test","w") as file:
    for i in f:
        file.write(i)

add line no

In [ ]:
with open("test","r") as file:
    f=file.readlines()
    
with open("test","w") as file:
    count=1
    for x in f:
        x=f"{count}."+" "+x[2]+x[3:]
        count+=1
        file.write(x)
f

update any word in the file

In [ ]:
with open("test","r") as file:
    f=file.readlines()
with open("test","w")as file:
    for i in f:
        i=i.replace("file","")
        file.write(i)

In [ ]:
l=[]
l.insert()

In [ ]:
class Ar:
    def __init__(self):
        print('hi')

In [ ]:
a=Ar()

In [ ]:
print(a)

In [ ]:
class Phone:
    def calling(self):
        print("calling someone")
    def working(self,press):
        self.press=press
        if(self.press==2):
            print("calling father")
        elif(self.press==3):
            print("calling mother")
        elif(self.press==4):
            print("calling friend")
        else:
            print("not defined")

In [ ]:
p=Phone()

In [ ]:
p.working(4)

In [ ]:
class A:
    def __init__(self,id,age,name):
        self.id=id
        self.age=age
        self.name=name
    def show_info(self):
        print(self.id)
        print(self.age)
        print(self.name)

In [ ]:
a=A(1,44,"tarun")

In [ ]:
a.show_info()

INHERITANCE

In [ ]:
class A:
    surname="Angral"

In [ ]:
class B(A):
    name="Aryan "

In [ ]:
b=B()

In [ ]:
b.name+b.surname

In [ ]:
class A:
    def aa(self):
        return "class A"

In [ ]:
class B(A):
    def bb(self):
        return "class B"

In [ ]:
f=B()

In [ ]:
f.aa()

In [ ]:
f.bb()

In [ ]:
class A:
    def __init__(self,age,name):
        self.age=age
        self.name=name
    def show(self):
        print(self.age)
        print(self.name)

In [ ]:
class B(A):
    def __init__(self,age,name,salary):
        self.age=age
        self.name=name
        self.salary=salary
    def info(self):
        print(self.age)
        print(self.name)
        print(self.salary)

In [ ]:
b=B(44,"sam",78900)

In [ ]:
b.show()

In [ ]:
b.info()

In [ ]:
class A:
    def __init__(self,age,name):
        self.age=age
        self.name=name
    def show(self):
        print(self.age)
        print(self.name)

In [ ]:
class B(A):
    def __init__(self,age,name,salary):
        super().__init__(age,name)
        self.salary=salary
    def info(self):
        A.show(self)
        print(self.salary)

In [ ]:
b=B(44,"sam",78945)

In [ ]:
b.show()

In [ ]:
class A:
    __name="SArthak"
    name="max"
    def kk(self):
        return self.__name

In [ ]:
a=A()

In [ ]:
a.__name

In [ ]:
a.name

In [ ]:
a.kk()

In [ ]:
class A:
    def g(self):
        return "Class A"

In [ ]:
class B(A):
    def g(self):
        super().g()
        return "class B"

In [ ]:
obj=B()

In [ ]:
obj.g()

Write a program that inputs a text file. The program should print all of the unique words in the file in alphabetical order

In [ ]:
with open("text_file","w") as file:
    file.write("we are solving a lab question just for 5 marks\n")
    file.write("at will include in our maksheet so that will help us to get palced\n")

In [ ]:
with open("text_file","r") as file:
    f=file.readlines()
    k=[]
    for i in f:
        for j in i.split():
            k.append(j)
    k.sort()
    for r in k:
        if k.count(r)==1:
            print(r)

Create a text file "myfile" in python and ask the user to write seprarate 3 lines with 3 input statements from the user.

In [ ]:
with open("myfile","w") as file:
    n1=input("Enter 1st statement")
    n2=input("Enter 2nd statement")
    n3=input("Enter 3rd statement")
    file.write(n1+"\n")
    file.write(n2+"\n")
    file.write(n3+"\n")

In [ ]:
with open("a3.txt","w") as file:
    file.write("we are using file handling with 2nd method\n")
    file.write("and today's date is 4 dec 2024\n")

In [ ]:
with open("a3.txt","r") as file:
    print(file.read())

In [ ]:
with open("a3.txt","r") as file:
    f=file.readlines()
    print("1st line ------->",f[0])
    print("2nd line ------->",f[1])
    for i in f:
        print(i)

In [ ]:
with open("a3.txt","r") as file:
    f=file.readlines()
    f[1]=f[1].replace("4","5",1)
with open("a3.txt","w") as file:
    for i in f:
        file.write(i)

In [ ]:
with open("a3.txt","r") as file:
    print(file.read())

In [ ]:
o="orange"
l=[]
for i in o:
    l.append(i)
l.sort()
s =""
for i in l:
    s+=i

In [ ]:
h = ""
for i in sorted(o):
    h+=i
print(h)

In [ ]:
h

CSV

In [ ]:
import csv


with open("file.csv","w") as file:
    file.write("1,25000,6\n")
    file.write("2,78000,3\n")
    file.write("3,55000,7\n")
    file.write("4,44000,6\n")

In [ ]:
with open("file.csv","r") as file:
    print(file.read())

In [ ]:
with open("file.csv","r") as file:
    f=csv.reader(file,delimiter=',')
    l=list(f)
l

In [ ]:
with open("file.csv","r") as file:
    f=csv.reader(file,delimiter=",")
    l=list(f)
    for i in l:
        print(i)

In [ ]:
with open("file.csv","a") as file:
    file.write("5,65000,3\n")
    file.write("6,95000,3\n")

In [ ]:
with open("file.csv","r") as file:
    f=csv.reader(file,delimiter=",")
    l=list(f)
    print("ID   | SALARY  | MONTHS   ")
    print("--------------------------")
    for i in l:
        print(f"{i[0]:<4} | {i[1]:<8} | {i[2]}")

In [ ]:
# print nth row of the file
with open("file.csv","r") as file:
    f=csv.reader(file,delimiter=',')
    l=list(f)
    for i in range(len(l)):
        if i!=1:    
            print(l[i])

remove any row from file

In [ ]:
with open("file.csv","r") as file:
    f=csv.reader(file,delimiter=',')
    l=list(f)
    l.pop(4)

In [ ]:
l

In [ ]:
# with open("file.csv","w") as file:
#     for i in l:
#         file.write(i)

Add new column where multiply 2nd and 3rd column

In [ ]:
with open("file.csv","r") as file:
    f=csv.reader(file,delimiter=",")
    l=list(f)
    el=[]
    for i in l:
        x=int(i[1])*int(i[2])
        i.append(x)
        print(i)

In [ ]:
with open("file.csv","r") as file:
    f=csv.reader(file,delimiter=',')
    l=list(f)
with open("file1.csv","w") as file:
    for i in l:
        q=",".join(i)+"\n"
        file.write(q)

In [ ]:
#anagram
a=Car
b="hello"

In [ ]:
def anagram(a,b):
    l1=[]
    l2=[]
    for i in a :
        l1.append(i)
    for j in b:
        l2.append(j)
    l1.sort()
    l2.sort()
    if(l1==l2):
        print("Yes")
    else:
        print("No")

In [ ]:
anagram('car','arc')

In [ ]:
a='car'
b='arc'
if(sorted(a)==sorted(b)):
    print("yes")
else:
    print("no")

In [ ]:
l=[2,3,4]
def right_angle(l=[]):
    l.sort()
    h=l[-1]
    p=l[1]
    b = l[0]
    if (h**2) == ((p**2)+(b**2)):
        s= (h+p+b)/2
        area = (s*(s-h)*(s-p)*(s-b))**(1/2)
        print(area)
        print("right_angle")
    else:
        s=(h+p+b)/2
        area = (s*(s-h)*(s-p)*(s-b)) ** (1/2)
        print(area)
        print("not a right_angle")

In [ ]:
right_angle(l)

In [ ]:
import os

In [ ]:
os.listdir()

In [ ]:
os.chdir()

In [ ]:
os.listdir()

Print the 3rd highest element from the list

In [42]:
# l=[4,5,7,8,9,6,5,4,1,2,3,5]
l=[0,0]

In [ ]:
l.sort(reverse=True)
ans=l[0]
count=0
for i in l:
    if((i<ans and i!=ans) and count<2):
        ans=i
        count+=1
if(len(set(l))<3):
    print("out of range")
else:
    print(ans)

In [51]:
l=[1,5,9,10,12]
if( (11) in l ):
    x=l.index(11)
else:
    l.append(11)
    l.sort()
    x=l.index(11)

In [ ]:
x

In [3]:
import calendar

In [4]:
calendar.isleap(2004)

True