In [11]:
count=0
for i in range(1000,5000):
    if(pow(i,1/2)==int(pow(i,1/2)) or pow(i,1/3)==int(pow(i,1/3))):
        count=count+1
count

39

In [15]:
class Chair:
    #class variable
    legs=4
    hand_rest=2
    back_rest=1
    length="3 feet"

In [18]:
c=Chair()
print("legs",c.legs)
print("length",c.length)
print("hand rest",c.hand_rest)
print("back rest",c.back_rest)

legs 4
length 3 feet
hand rest 2
back rest 1

In [ ]:
d=Chair()

In [19]:
class Car:
    company="Audi"
    wheels=4
    door=4
    engine="1.3 lr"
    color="Blue"

In [22]:
d=Car()
d.color="Black"
d.color

'Black'

In [33]:
#instances
class Car:
    company="Audi"
    wheels=4
    door=4
    engine="1.3 lr"
    color="Blue"

    def show_details(self):
        print("company",self.company)
        print("wheels",self.wheels)
        print("door",self.door)
        print("engine",self.engine)
        print("colour",self.color)

In [35]:
c=Car()

In [36]:
c.show_details()

company Audi
wheels 4
door 4
engine 1.3 lr
colour Blue

In [42]:
class student:
    maths=100
    science=100
    english=99
    def max(self):
        l=[self.maths,self.science,self.english]
        l.sort()
        print(f"max= {l[-1]}")
    def min(self):
        l=[self.maths,self.science,self.english]
        l.sort()
        print(f"min= {l[0]}")
c=student()
c.min()

min= 99

write  a program to perform searching activity using linear and binary search

In [3]:
f=[1,2,3,4,5,6]
target=5
count=0
for i in f:
    if target==i:
        count+=1
        # print("yes")
if(count>0):
    print("yes")
else:
    print("No")

yes

In [2]:
def binary(x,target):
    left=0
    right=len(x)-1
    while left<=right:
        mid=(left+right)//2
        if x[mid]==target:
            return mid
        elif x[mid]<target:
            left=mid+1
        else:
            right=mid-1
    return-1
f=[1,2,3,4,5,6]
binary(f,2)

1

Write a program to reverse each Kth row in matrix

In [4]:
m=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12]
]
def reverse_row(m,k):
    m[k-1]=m[k-1][::-1]
    return m
reverse_row(m,1)

[[3, 2, 1], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

create a class college:
add instance name it "details" like: no. of class, location, no. of teachers
add instance name it return no of classes
add instance name it return no of teacher
add instance name it return location of college

In [5]:
class College:
    def deatils(self,Class,teachers,location):
        self.Class=Class
        self.teachers=teachers
        self.location=location
    def classes(self):
        print("Number of classes :",self.Class)
    def teacher(self):
        print("Number of teacher :",self.teacher)
    def location(self):
        print("Number of location :",self.location)

In [7]:
college1=College()
college1.deatils(100,120,"Jammu")

In [8]:
college1.classes()

Number of classes : 100

In [7]:
class Student:
    def details(self,math,english,science):
        self.math=math
        self.english=english
        self.science=science
    def min_score(self):
        return min([self.science,self.english,self.math])
    def max_score(self):
        return max([self.science,self.english,self.math])
    def avg_score(self):
        return sum([self.science,self.english,self.math])/3

In [8]:
s1=Student()

In [9]:
s1.details(99,99,98)

In [10]:
s1.min_score()

98

In [11]:
s1.avg_score()

98.66666666666667

In [12]:
s1.max_score()

99

In [13]:
class College:
    def details(self,area,building,room,teacher,student,staff):
        self.area=area
        self.building=building
        self.room=room
        self.teacher=teacher       
        self.student=student       
        self.staff=staff       
    def clg_info(self):
        print("area",self.area)
        print("Building",self.building)
        print("Room",self.room)
    def human_info(self):
        return self.teacher+self.student+self.staff

In [14]:
c=College()

In [15]:
c.details("20 acr",5,120,100,5000,50)

In [16]:
c.clg_info()

area 20 acr
Building 5
Room 120

BANKING SYSTEM

In [28]:
class Bank:
    balance=20000
    def credit(self,amount):
        self.amount=amount
        if(amount>0):
            self.balance+=self.amount
            print(f"{self.amount} has been credited in your account")
            print(f"{self.balance} is your current balance")
        else:
            print("Enter valid amount!")
    def debit(self,amount):
        self.amount=amount
        if(amount>0 and self.balance>amount):
            self.balance-=self.amount
            print(f"{self.amount} has been debited from your account")
            print(f"{self.balance} is your current balance")
        else:
            print("Please enter valid amount and within your current balance")

In [29]:
a1=Bank()

In [30]:
a1.credit(100000)

100000 has been credited in your account
120000 is your current balance

In [32]:
a1.debit(1000)

1000 has been debited from your account
119000 is your current balance

In [33]:
a1.balance

119000

Create a class Student where add 5 methods (Year 1, Year 2, Year 3, Year4, Total)

In [50]:
class Student:
    y1=0
    y2=0
    y3=0
    y4=0
    def year1(self,yr1):
        self.yr1=yr1
        self.y1=1
    def year2(self,yr2):
        self.yr2=yr2
        self.y2=1
    def year3(self,yr3):
        self.yr3=yr3
        self.y3=1
    def year4(self,yr4):
        self.yr4=yr4
        self.y4=1
    def total(self):
        if(self.y1==1 and self.y2==1 and self.y3==1 and self.y4==1):
            print(f"CGPA : {(self.yr1+self.yr2+self.yr3+self.yr4)/4}")
        if(self.y1==1 and self.y2==1 and self.y3==1 and self.y4==0):
            print(f"CGPA : {(self.yr1+self.yr2+self.yr3)/3}")
        if(self.y1==1 and self.y2==1 and self.y3==0 and self.y4==0):
            print(f"CGPA : {(self.yr1+self.yr2)/2}")
        if(self.y1==1 and self.y2==0 and self.y3==0 and self.y4==0):
            print(f"CGPA : {(self.yr1)}")

In [51]:
s1=Student()

In [52]:
s1.year1(9.2)

In [54]:
s1.year2(9.4)

In [56]:
s1.year3(9.6)

In [58]:
s1.year4(9.9)

In [59]:
s1.total()

CGPA : 9.525

In [45]:
s2=Student()

In [46]:
s2.year1(9.5)

In [47]:
s2.total()

CGPA : 9.5

CONSTRUCTOR

In [1]:
class A:
    def __init__(self):
        print("This is class A")

In [2]:
class B(A):
    def __init__(self):
        super().__init__()
        print("This is class B")

In [3]:
b=B()

This is class A
This is class B

In [5]:
class B:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def info(self):
        return self.a,self.b

In [14]:
class C(B):
    def __init__(self,a,b,c,d):
        self.a=a
        self.b=b
        self.c=C
        self.d=d
    def innn(self):
        return (self.c*self.d)

In [15]:
c=C(1,2,3,4)

In [16]:
c.info()

(1, 2)

In [17]:
c.innn()

TypeError: unsupported operand type(s) for *: 'type' and 'int'